<!DOCTYPE html>
<html>

    <head>
        <title>CS16 - Practice</title>

    </head>

    <body>
        <h1> Change the Heading</h1>

        <h3> a. Practice Problem</h3>
        <h3> b. Boring Stuff</h3>
        <h3> c. Don't know what I am doing</h3>

        <p> WHen the user clicks on any one of the choices above, please change the title to the statement corresponding to that choice. For choice (a) set the font color to navy and the font to Lucida Handwriting. For (b), red and Arial and for (c) Olive and Cursive.
        </p>
    </body>

</html>