<!DOCTYPE html>
<html>

    <head>

        <title>Lynx.htm</title>
        <style type="text/css">
            img {
                float: left;
                margin-right: 30px;
            }
        </style>
        <script type="text/javascript">
            function closeWin() {
                window.close();
            }
        </script>

    </head>

    <body>
        <h2> The Lynx</h2>
        <img src="lynx.jpg" title="The Lynx" alt="The image of a lynx goes here" />
        <p>
            The lynx has a short tail and characteristic tufts of black hair on the tips of its ears; large, padded paws for walking on snow; and long whiskers on its face. Under its neck, It has a ruff which has black bars, is not very visible, and resembles a bow tie.
        </p>
        <button onclick="closeWin()">Close</button>
    </body>

</html>